{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<div style="text-align:center">
    Demographics
{% endblock %}

{% block content %}

{% formfield player.age %}
{% formfield player.gender %}
{% formfield player.gender_other %}
{% formfield player.marital %}
{% formfield player.children %}
{% formfield player.location %}
{% formfield player.religion %}
{% formfield player.religion_other %}
{% formfield player.education %}
{% formfield player.household %}

<div style="text-align:center">

{% next_button %}

{% endblock %}