{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<div style="text-align:center">
    Introduction and Consent
{% endblock %}

{% block content %}


<div class="instructions">
        <p >
            Thank you for your interest in our labor market study! This study is performed by Israeli economics researchers from UC Berkeley and New York University, in the purpose of understanding frictions and disparities in the Israeli labor market. To that end, we would like to learn about your job search efforts and well-being in a series of questions that will take approximately {{Constants.minutes}} minutes.
        </p>

        <p >
            To thank you for your time, upon completion, you will receive ${{Constants.payment}}.
        </p>

        <p >
            Most of the questions in this survey have no right or wrong answers - we are interested in your views and opinions. Your responses are confidential, and it helps us a great deal if you respond as carefully as possible.
        </p>

        <p >
            For your information, the answers to this survey will not be shared with any 3rd party, and not even Drushim. We will use this information in conjunction with your profile and activity related to the drushim.co.il website, and for that, we require your explicit consent. Again, the information that you share with us will remain confidential and will only be used in the purposed of our academic purposes.
        </p>

        <p >
            Thank you for participating!
        </p>

        <div style="text-align:center">
        <strong>{% formfield player.consent %}</strong>

</div>


<div style="text-align:center">
{% next_button %}

{% endblock %}